h3{
  color:#3500D3;
  font-family: 'castellar', algerian;
  font-size:60px;
}
.levels {
  background-image:
  url("avicii1.jpg");
  background-size:cover;
}
.levels {
  color:#4056A1;
	padding: 250px 0;
	margin: 30px;
}
.levels {
  font-family: 'algerian', Helvetica;
}
.true {
	margin: 30px;
}
