h3{
  color:#3500D3;
  font-family: 'castellar', algerian;
  font-size:60px;
}
.levels {
  background-image:
   url(https://github.com/Schatten05/schatten05.github-io/blob/master/avicii1.jpg);
  background-size:cover;
}
.levels {
  color:#66FCF1;
	padding: 250px 0;
	margin: 30px;
}
.levels {
  font-family: 'algerian', Helvetica, sans-serif;
}
